.dialogs__item {
   display: flex;
   align-items: center;
   margin-bottom: 10px;

   img {
      width: 30px;
      margin-right: 5px;
      border-radius: 50%;
   }
}

.dialogs__item a {
   color: rgb(77, 24, 0);
   font-size: 18px;
   font-weight: bold;
   padding: 5px;
   flex-grow: 1;
}

.dialogs__item a.active {
   color: #caa870;
   background-color: rgb(92 45 0 / 4%);
}