<div class="error404">
   <h1 class="error404__title">
      Пейдж
      <br>
      нот
      <br>
      фаунд
   </h1>
   <div>
      <p class="error404__text">Ошибка 404. Такая страница не существует либо была удалена.</p>
      <a href="#/login" class="error404__link" title="Венуться на страницу входа в аккаунт">На страницу входа</a>
   </div>
</div>