<div class="page-login">
   <h1 class="page-login__title">Вход в аккаунт</h1>
   <form class="page-login__form">
      <input class="page-login__login" type="text" name="name" maxlength="15" placeholder="Введите своё прозвище">
      <input class="page-login__password" type="password" name="password" maxlength="15" placeholder="Введите пароль">
      <button class="page-login__button" disabled>Войти</button>
   </form>
</div>