<div class="page-login">
   <h1 class="page-login__title">Регистрация аккаунта</h1>
   <form class="page-login__form">
      <input class="page-login__login" type="text" name="name" maxlength="15" placeholder="Введите своё прозвище">
      <input class="page-login__password" type="password" name="password" maxlength="15"
         placeholder="Введите пароль(минимум 5 символов)">
      <input class="page-login__password-repeat" type="password" name="password" maxlength="15"
         placeholder="Повторите пароль">
      <button class="page-login__button" disabled>Зарегистрироваться</button>
   </form>
</div>