<div class="trainer" data-status="initial">
   <div class="trainer__bg"></div>
   <div class="trainer__container">
      <div class="trainer__counters">
         <div class="trainer__letters">
            <p class="trainer__letters-count">0</p>
            <p class="trainer__text">символы</з>
         </div>
         <div class="trainer__timer">
            <p class="trainer__timer-count">60</p>
            <p class="trainer__text time">время</p>
         </div>
         <div class="trainer__errors">
            <p class="trainer__errors-count">0</p>
            <p class="trainer__text error">ошибки</p>
         </div>
      </div>
      <div class="trainer__button-container">
         <button class="trainer__button">старт</button>
      </div>
      <input type="text" class="trainer__text-done" tabindex="-1">
      <div class="text-example-container">
         <div class="trainer__text-example">Повседневная практика показывает, что выбранный нами инновационный путь
            играет важную роль в формировании всесторонне сбалансированных нововведений? Задача организации, в
            особенности же рамки и место обучения кадров позволяет оценить значение системы масштабного изменения ряда
            параметров. Практический опыт показывает, что постоянный количественный рост и сфера нашей активности
            позволяет выполнить важнейшие задания по разработке системы масштабного изменения ряда параметров!
            Соображения высшего порядка, а также начало повседневной работы по формированию позиции напрямую зависит от
            существующих финансовых и административных условий! Значимость этих проблем настолько очевидна, что
            консультация с профессионалами из IT играет важную роль в формировании экономической целесообразности
            принимаемых решений. Значимость этих проблем настолько очевидна, что курс на социально-ориентированный
            национальный проект обеспечивает широкому кругу специалистов участие в формировании ключевых компонентов
            планируемого обновления! Повседневная практика показывает, что выбранный нами инновационный путь требует от
            нас системного анализа существующих финансовых и административных условий.
            Не следует, однако, забывать о том, что выбранный нами инновационный путь создаёт предпосылки качественно
            новых шагов для соответствующих условий активизации.
            Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный
            эксперимент проверки модели развития! Соображения высшего порядка, а также сложившаяся структура организации
            представляет собой интересный эксперимент проверки модели развития? С другой стороны сложившаяся структура
            организации влечет за собой процесс внедрения и модернизации направлений...</div>
      </div>
      <div class="trainer__keyboard">
         <div class="trainer__keyboard-conrainer">
            <div class="trainer__line">
               <div class="trainer__key" data-letters="ёЁ">Ё</div>
               <div class="trainer__key" data-letters="1!">1<sup>!</sup></div>
               <div class="trainer__key" data-letters='2"'>2<sup>"</sup></div>
               <div class="trainer__key" data-letters="3№">3<sup>№</sup></div>
               <div class="trainer__key" data-letters="4;">4<sup>;</sup></div>
               <div class="trainer__key" data-letters="5%">5<sup>%</sup></div>
               <div class="trainer__key" data-letters="6:">6<sup>:</sup></div>
               <div class="trainer__key" data-letters="7?">7<sup>?</sup></div>
               <div class="trainer__key" data-letters="8*">8<sup>*</sup></div>
               <div class="trainer__key" data-letters="9(">9<sup>(</sup></div>
               <div class="trainer__key" data-letters="0)">0<sup>)</sup></div>
               <div class="trainer__key" data-letters="-_">-<sup>_</sup></div>
               <div class="trainer__key" data-letters="=+">=<sup>+</sup></div>
               <div class="trainer__key backspace" data-spec="Backspace">Backspace</div>
            </div>
            <div class="trainer__line">
               <div class="trainer__key tab" data-spec="Tab">Tab</div>
               <div class="trainer__key" data-letters="йЙ">Й</div>
               <div class="trainer__key" data-letters="цЦ">Ц</div>
               <div class="trainer__key" data-letters="уУ">У</div>
               <div class="trainer__key" data-letters="кК">К</div>
               <div class="trainer__key" data-letters="еЕ">Е</div>
               <div class="trainer__key" data-letters="нН">Н</div>
               <div class="trainer__key" data-letters="гГ">Г</div>
               <div class="trainer__key" data-letters="шШ">Ш</div>
               <div class="trainer__key" data-letters="щЩ">Щ</div>
               <div class="trainer__key" data-letters="зЗ">З</div>
               <div class="trainer__key" data-letters="хХ">Х</div>
               <div class="trainer__key" data-letters="ъЪ">Ъ</div>
               <div class="trainer__key" data-letters="\/">\<sup>/</sup></div>
            </div>
            <div class="trainer__line">
               <div class="trainer__key capslock" data-spec="CapsLock">Caps Lock</div>
               <div class="trainer__key" data-letters="фФ">Ф</div>
               <div class="trainer__key" data-letters="ыЫ">Ы</div>
               <div class="trainer__key" data-letters="вВ">В</div>
               <div class="trainer__key" data-letters="аА">А</div>
               <div class="trainer__key" data-letters="пП">П</div>
               <div class="trainer__key" data-letters="рР">Р</div>
               <div class="trainer__key" data-letters="оО">О</div>
               <div class="trainer__key" data-letters="лЛ">Л</div>
               <div class="trainer__key" data-letters="дД">Д</div>
               <div class="trainer__key" data-letters="жЖ">Ж</div>
               <div class="trainer__key" data-letters="эЭ">Э</div>
               <div class="trainer__key enter" data-spec="Enter">Enter</div>
            </div>
            <div class="trainer__line">
               <div class="trainer__key shift" data-spec="Shift">Shift</div>
               <div class="trainer__key" data-letters="яЯ">Я</div>
               <div class="trainer__key" data-letters="чЧ">Ч</div>
               <div class="trainer__key" data-letters="сС">С</div>
               <div class="trainer__key" data-letters="мМ">М</div>
               <div class="trainer__key" data-letters="иИ">И</div>
               <div class="trainer__key" data-letters="тТ">Т</div>
               <div class="trainer__key" data-letters="ьЬ">Ь</div>
               <div class="trainer__key" data-letters="бБ">Б</div>
               <div class="trainer__key" data-letters="юЮ">Ю</div>
               <div class="trainer__key" data-letters=".,">.<sup>,</sup></div>
               <div class="trainer__key shift" data-spec="Shift">Shift</div>
            </div>
            <div class="trainer__line">
               <div class="trainer__key alt" data-spec="Alt">Alt</div>
               <div class="trainer__key space" data-spec="Space"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="trainer__result-bg">
      <div class="trainer__result result">
         <div class="result__header">
            <h2 class="result__title">
               Результаты
            </h2>
            <button class="result__btn-exit"><img src="images/back.png" alt="закрыть"
                  title="Закрыть результаты"></button>
         </div>
         <hr>
         <p class="result__total-letters">Cимволов:<span class="result__letters-amount">0</span></p>
         <p class="result__total-errors">Ошибок:<span class="result__errors-amount">0</span></p>
      </div>
   </div>
</div>