<li class="records__user-item {{#ifCond user.status '===' 'online'}}online{{/ifCond}}">
   <p class="records__user-name">{{user.name}}</p>
   <p class="records__user-letters">{{user.recordLetters}}</p>
   <p class="records__user-errors">{{user.errors}}</p>
</li>
<hr>